
.info{
    margin:1em;
}
.border{
    margin:2em;
}

.search-box{
    margin-top:.5em;
    margin-left: 1em;
}
.background{
    background-color: indianred;
    height: 600px;
}


#deets{
    height: 400px;
    background-color: papayawhip;
    text-align: left;
    justify-content: center;
    font-size: large;
    padding:1em;
}
#number{
    background-color: papayawhip;
}

#picture{
    height:250px;
    background-color: papayawhip;
}

#picture img{
    height: 100%;
    width: 100%;
    justify-content: center;
}

#typeA{
    background-color: lightgray;
}

#typeB{
    background-color: lightgray;
}

/*#deets p{*/
/*    text-align: left;*/
/*    justify-content: center;*/
/*    font-size: large;*/
/*}*/